*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 62.5%;
}

:root {
  --rebeccapurple: rebeccapurple;
  --indigo: indigo;
  --plum: plum;
}

body {
  font-size: 2rem;
  background: lightcyan;
}

header {
  background: papayawhip;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.logo {
  color: tomato;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  font-size: 22px;
  text-decoration: none;
}

main {
  margin-top: 3rem;
  padding: 3rem;
}

section > * {
  margin-bottom: 2rem;
}

.food-inputs {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
}

select {
  padding: 1rem;
  width: 200px;
  font-size: inherit;
  border-radius: 1rem;
  background: white;
  border: 1px solid #ddd;
}

option {
  background: blanchedalmond;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  text-align: right;
  font-size: inherit;
  outline: none;
  border: 1px solid #ddd;
}

.nutrition-inputs > * {
  margin-bottom: 2rem;
}

label {
  width: 150px;
  display: inline-block;
}

.add-btn {
  padding: 0.7rem 2rem;
  background: orange;
  color: black;
  font-size: inherit;
  border: none;
  border-radius: 1rem;
}

/* output section  */
.output-section {
  display: flex;
  gap: 3rem;
  flex-flow: column;
}
/* Log  */

.total-log {
  border-radius: 1rem;
  border: 1px solid #ddd;
  padding: 2rem;
  /* width: 90%; */
  margin: 0 auto;
  text-align: center;
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 3rem;
}

.card-item {
  text-align: center;
  padding: 2rem;
  line-height: 1.8;
  border-radius: 1rem;
  border-radius: 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid darkslategray;
}

.nutrition-details {
  display: flex;
  justify-content: space-around;
}

.card-name::first-letter {
  text-transform: uppercase;
}
